{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="../static/styles.css">
<div class="content">
    <div class="card">
        <div class="card-body">
            <img src="../../static/L4A-logo-whiteyellow.png" class="signup-logo">
            <h4 class="card-title">Unlock your learning plans @ Learn4all</h4>
            <div class="standard-login-form">
                <button onclick="showGoogleLogin()" id="login-selector-google">
                    <img src="../../static/google-icon.png" alt="Google" class="button-icon">Continue with Google
                    <img src="../../static/login-icon-1.png"class="right-most">
                </button>
                
                
                <button onclick="showEmailLogin()" id="login-selector-email">
                    <img src="../../static/login-icon.png" class="button-icon">Continue with Email
                    <img src="../../static/login-icon-2.png" class="right-most">
                </button>

                <button onclick="showAccountLogin()" id="login-selector-account">
                    <img src="../../static/login-icon.png" class="button-icon">Already have account?
                    <span class="signin-col">Sign In</span>
                    <img src="../../static/login-icon-3.png"class="right-most">
                </button>     
            </div>
            

            <div id="email-login-form" style="display:none;">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>

            <div id="standard-login-form" style="display:none;">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>

            <p class="term">By continuing, you agree to Learn4All’s Terms of Service, Privacy Policy and Data Usage Properties</p>
        </div>
    </div>
</div>

<script>
    function showGoogleLogin() {
        document.getElementById('standard-login-form').style.display = 'none';
        document.getElementById('google-login-form').style.display = 'block';
        document.getElementById('email-login-form').style.display = 'none';
    }
    
    function showEmailLogin() {
        var form = document.getElementById('email-login-form');
        form.style.display = form.style.display === 'block' ? 'none' : 'block'; 
        document.getElementById('standard-login-form').style.display = 'none';
        document.getElementById('google-login-form').style.display = 'none';
    }
    
    function showAccountLogin() {
        var form = document.getElementById('standard-login-form');
        form.style.display = form.style.display === 'block' ? 'none' : 'block'; // Toggle display
        document.getElementById('email-login-form').style.display = 'none';
        document.getElementById('google-login-form').style.display = 'none';
        
    }
    </script>
{% endblock content %}