<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading Page</title>

  <!--  Google Fonts CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Google Fonts CSS - Public Sans Font -->
  <link
  href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,700;1,700&display=swap"
  rel="stylesheet">

  <style type="text/css">
    html {
      background-image: radial-gradient(circle at center, #45D2FF, #FFFFFF);
      opacity: 0.5;
    }

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      font-family: "Public Sans", sans-serif;
    }
</style>
</head>
<body>
  <div class="loading">
    <h1>Generating your Presentation Preparing ...</h3>
  </div>
</body>
</html>

