nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}



body {
    background-color: #0077FF;
    background-image: url('../../static/profile-bg-moon.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}

/* Main styling for the login card */

.card {
    min-width: 400px; 
    width:auto;
    top: 15%; 
    right: 10%;
    height: auto;
    background-color: #e7effa;
    background-image: url("../../static/signin-bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    /* background: radial-gradient(#FFC727 0%, #45D3FF 32%, #0D5ACF 100%); */
    /* background-blend-mode: overlay; */
    border-radius: 10px; 
    /* border-color: #2a72de; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: absolute;
    /* font-family: 'Poppins', sans-serif; */
}

/* Styling the form elements */
input[type="email"], input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.consistent-width {
    width: 300px; 
    max-width: 100%; 
}


button {
    width: 100%;
    padding: 10px;
    background-color: #0e5ccd; /* Matching the theme */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.button-icon:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #0a69ed; /* A slightly lighter shade for hover effect */
}

/* Additional styles for placeholders and icons */
::placeholder {
    color: #bbb; /* Light grey placeholder text */
}

.fa {
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em); /* Center vertically in the input */
}

/* Ensure the form and other elements are centered inside the card */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    width: 200px;
    text-align: center; /* Center the title text */
    /* margin-bottom: 20px;  */
    font-family: 'Public Sans';
    font-size: 20px;
    color: #263238;
    font-weight: 200;
    margin-bottom: 10%;
}

.signup-logo {
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
}

.standard-login-form button{
    margin: 5px;
    text-align: left;
    width: auto;
    min-width: 300px
}

.standard-login-form #login-selector-google, 
.standard-login-form #login-selector-email, 
.standard-login-form #login-selector-account,
.form-control{
    background-color: rgba(255, 255, 255, 0.5); 
    color: black;
    font-weight: 250;
    padding-right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.signin-col{
    background: linear-gradient(#63BFFF 44%, #0077FF 100%);
    /* background: linear-gradient(to bottom, #FFEA98, #46D3FF); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

.button-icon {
    height: 30px; padding-right: 7px;
}

.login-buttons {
    display: flex;
    align-items: c;
    justify-content: space-between;
    padding: 5px; 
    height: 50px;
    left: 0;
    align-items: center;

}

.signup-info {
    /* min-width: 400px; */
    width:auto;
}

.icon-button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 50px;
    background-image: url("../../static/back-to-previous-button.png");
    background-size: contain;
}

.text-button, a.text-button{
    padding: 5px 20px;
    background-image: linear-gradient(#FFFFFF 5%, #BBFFFF 100%);
    border: 2px solid #4285F4; 
    color: #4285F4;
    border-radius: 20px; 
    font-size: auto;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    width: 100px; height: 30px;
    align-items: center;
    display: flex;
    justify-content: center; 
}

.text-button:hover {
    background-color: #4285F4; 
    color: white; 
}

.right-most {
    float: right;
    height: 30px;
    margin-left: auto;
}

.login-button:hover {
    background-color: #357ae8; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.term {
    width: 300px;
    text-align: center; 
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    margin-top: 5%;
}


.hidden {
    display: none;
}

.visible {
    display: block;
}
